### You can download this Notebook and all its contents from the Github repository 
https://github.com/siddharth101/Pandas

In [1]:
import os
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
### Creating a Dataframe from lists

In [ ]:
states = ['California','Montana','Vermont','Himachal Pradesh', 'Ontario']
capitals = ['Sacramento', 'Helena', 'Montpelier', 'Shimla', 'Toronto']
countries = ['USA','USA','USA','India','Canada']

In [ ]:
df1 = pd.DataFrame(list(zip(states, capitals, countries)), columns = ['State', 'Capital', 'Country'])

In [ ]:
df1

              State     Capital Country
0        California  Sacramento     USA
1           Montana      Helena     USA
2           Vermont  Montpelier     USA
3  Himachal Pradesh      Shimla   India
4           Ontario     Toronto  Canada

In [ ]:
### Creating a Dataframe from dictionary

In [ ]:
dict_scc = {'State':['California','Montana','Vermont','Himachal Pradesh', 'Ontario'], 'Capital': ['Sacramento', 'Helena', 'Montpelier', 'Shimla', 'Toronto'],
            'Country': ['USA','USA','USA','India','Canada'] }

In [ ]:
df2 = pd.DataFrame(dict_scc)

In [ ]:
df2

              State     Capital Country
0        California  Sacramento     USA
1           Montana      Helena     USA
2           Vermont  Montpelier     USA
3  Himachal Pradesh      Shimla   India
4           Ontario     Toronto  Canada

### Let's now load a csv file into a pandas Dataframe and use it to learn some simple gymnasitcs. But first, since I am running this notebook on Colab, I will load my google drive where the csv files are stored

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
## Get the current directory
os.getcwd()

'/content'

In [ ]:
### Moving to the directory where I store the files
os.chdir('/content/gdrive/My Drive/Colab_Notebooks/files_data_science/')

In [ ]:
### Listing the files
!ls

movie_metadata.csv

We are in the directory files_data_science of my drive where I store the files to be used for Data Science tutorial/projects. Let's now load this movies file into a pandas DataFrame

---
You can download this file from [here](https://www.kaggle.com/carolzhangdc/imdb-5000-movie-dataset) and do your own data analysis


---

In [ ]:
### Loading the csv file in a pandas DataFrame
df_movies = pd.read_csv('movie_metadata.csv')

**Some Basics**

In [ ]:
### First five rows
df_movies.head() # df_movies.head(10) will give first 10 rows

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

In [ ]:
### Last five rows
df_movies.tail()

      color     director_name  ...  aspect_ratio  movie_facebook_likes
5038  Color       Scott Smith  ...           NaN                    84
5039  Color               NaN  ...         16.00                 32000
5040  Color  Benjamin Roberds  ...           NaN                    16
5041  Color       Daniel Hsia  ...          2.35                   660
5042  Color          Jon Gunn  ...          1.85                   456

[5 rows x 28 columns]

**Column Operations**

In [ ]:
### All the column names
df_movies.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [ ]:
### Accessing one column
df_movies['genres']

0       Action|Adventure|Fantasy|Sci-Fi
1              Action|Adventure|Fantasy
2             Action|Adventure|Thriller
3                       Action|Thriller
4                           Documentary
                     ...
5038                       Comedy|Drama
5039       Crime|Drama|Mystery|Thriller
5040              Drama|Horror|Thriller
5041               Comedy|Drama|Romance
5042                        Documentary
Name: genres, Length: 5043, dtype: object

In [ ]:
### Accessing two or more columns
df_movies[['genres','language']] ## df_movies[['genres','language']].head() will show only the first rows here as well

                               genres language
0     Action|Adventure|Fantasy|Sci-Fi  English
1            Action|Adventure|Fantasy  English
2           Action|Adventure|Thriller  English
3                     Action|Thriller  English
4                         Documentary      NaN
...                               ...      ...
5038                     Comedy|Drama  English
5039     Crime|Drama|Mystery|Thriller  English
5040            Drama|Horror|Thriller  English
5041             Comedy|Drama|Romance  English
5042                      Documentary  English

[5043 rows x 2 columns]

**Dropping a column from the dataframe. For example we want to get rid of the column actor_2_facebook_likes from the movies dataframe**

In [ ]:
df_movies.drop('actor_2_facebook_likes', axis=1, inplace=True) # axis=1 is for column

In [ ]:
### Column's gone
df_movies.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'imdb_score', 'aspect_ratio',
       'movie_facebook_likes'],
      dtype='object')

**Renaming a column**

In [ ]:
### Say instead of movie_title, you want to call it just title
df_movies.rename({'movie_title':'title'}, axis=1, inplace=True)

In [ ]:
### 'movie_title' is not 'title'
df_movies.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name', 'title',
       'num_voted_users', 'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'imdb_score', 'aspect_ratio',
       'movie_facebook_likes'],
      dtype='object')

There is alot we can do here, like you might wanna change the first letter of 
each column name to Upper case or you might wanna replace the _ from the column names to something else. We will see how to do all this in a later notebook. 

---

**Adding a column**

In [ ]:
### In the current dataframe, the duration is in minutes
df_movies['duration'].head()

0    178.0
1    169.0
2    148.0
3    164.0
4      NaN
Name: duration, dtype: float64

In [ ]:
### Say we want to add a new column with duration in seconds. There are many ways to do this, we will use the method 'assign'
df_movies = df_movies.assign(duration_sec = df_movies['duration']*60)

In [ ]:
### duration_sec has been added as a new column
df_movies.head()

   color      director_name  ...  movie_facebook_likes  duration_sec
0  Color      James Cameron  ...                 33000       10680.0
1  Color     Gore Verbinski  ...                     0       10140.0
2  Color         Sam Mendes  ...                 85000        8880.0
3  Color  Christopher Nolan  ...                164000        9840.0
4    NaN        Doug Walker  ...                     0           NaN

[5 rows x 28 columns]

**Modifying a Column value**

In [ ]:
### The budget is given in dollars, say we want to change the unit to million $
df_movies['budget'].head()

0    237000000.0
1    300000000.0
2    245000000.0
3    250000000.0
4            NaN
Name: budget, dtype: float64

In [ ]:
### Converting the unit and reassigning 
df_movies['budget'] = df_movies['budget']/1e6

In [ ]:
### We will also have to rename the column name to show the change
df_movies.rename({'budget':'budget(mil)'}, axis=1, inplace=True)

In [ ]:
### The column's name and its content has been changed
df_movies.head()

   color      director_name  ...  movie_facebook_likes  duration_sec
0  Color      James Cameron  ...                 33000       10680.0
1  Color     Gore Verbinski  ...                     0       10140.0
2  Color         Sam Mendes  ...                 85000        8880.0
3  Color  Christopher Nolan  ...                164000        9840.0
4    NaN        Doug Walker  ...                     0           NaN

[5 rows x 28 columns]

Again, there is so much that can done here, like we may want to get rid of 'http' from the column values of movie_imdb_link or replace the separator | with / in plot_keywords column. We will look at all this in a later notebook

---

**Reordering Columns**

Say we want to reorder the columns, we first want to have columns with non-numerical values and then all the columns with numerical values. For this, first we should find out the dtypes of all the columns

---



---

In [ ]:
df_movies.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
title                         object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget(mil)                  float64
title_year                   float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
duration_sec                 float64
dtype: object

So the columns belong to three different dtypes, object, float64 and int64. We will separate the column names of dtype object from column names of dtypes float64 and int64 (both these categories are numerical)

---



---

In [ ]:
numerics = ['int64','float64']
num_cols = df_movies.select_dtypes(include=numerics).columns

In [ ]:
num_cols

Index(['num_critic_for_reviews', 'duration', 'director_facebook_likes',
       'actor_3_facebook_likes', 'actor_1_facebook_likes', 'gross',
       'num_voted_users', 'cast_total_facebook_likes', 'facenumber_in_poster',
       'num_user_for_reviews', 'budget(mil)', 'title_year', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes', 'duration_sec'],
      dtype='object')

In [ ]:
obj_cols = df_movies.select_dtypes(include=object).columns

In [ ]:
obj_cols

Index(['color', 'director_name', 'actor_2_name', 'genres', 'actor_1_name',
       'title', 'actor_3_name', 'plot_keywords', 'movie_imdb_link', 'language',
       'country', 'content_rating'],
      dtype='object')

In [ ]:
### Just checking we have all the columns
len(obj_cols) + len(num_cols) - len(df_movies.columns)

0

In [ ]:
new_col_list = list(obj_cols) + list(num_cols)
new_col_list

['color',
 'director_name',
 'actor_2_name',
 'genres',
 'actor_1_name',
 'title',
 'actor_3_name',
 'plot_keywords',
 'movie_imdb_link',
 'language',
 'country',
 'content_rating',
 'num_critic_for_reviews',
 'duration',
 'director_facebook_likes',
 'actor_3_facebook_likes',
 'actor_1_facebook_likes',
 'gross',
 'num_voted_users',
 'cast_total_facebook_likes',
 'facenumber_in_poster',
 'num_user_for_reviews',
 'budget(mil)',
 'title_year',
 'imdb_score',
 'aspect_ratio',
 'movie_facebook_likes',
 'duration_sec']

In [ ]:
### Reordering the columns
df_movies = df_movies[new_col_list]

In [ ]:
### The columns have been rearranged 😁
df_movies.head()

   color      director_name  ... movie_facebook_likes duration_sec
0  Color      James Cameron  ...                33000      10680.0
1  Color     Gore Verbinski  ...                    0      10140.0
2  Color         Sam Mendes  ...                85000       8880.0
3  Color  Christopher Nolan  ...               164000       9840.0
4    NaN        Doug Walker  ...                    0          NaN

[5 rows x 28 columns]