In [1]:
import numpy as np
import pandas as pd

In [2]:
df_noise = pd.read_csv('../files/Data_O3_L1_new.csv')

In [3]:
df_movies = pd.read_csv('../files/movie_metadata.csv')

In [4]:
df_noise.head()

,GPStime,peakFreq,snr,amplitude,centralFreq,duration,bandwidth,chisq,chisqDof,confidence,id,ifo,label,imgUrl,Q-value
0,1.252630e+09,30.734,14050.200,1.730000e-19,3980.241,8.250,7940.48291,0.0,0.0,1.0,xg6I5indL7,L1,Extremely_Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
1,1.242889e+09,39.789,12802.310,1.020000e-19,3980.241,10.669,7940.48291,0.0,0.0,1.0,puprGzhePt,L1,Extremely_Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
2,1.243172e+09,39.789,12470.565,1.030000e-19,3980.241,7.875,7940.48291,0.0,0.0,1.0,wVuUvshkGV,L1,Extremely_Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
3,1.241942e+09,39.789,10580.012,8.610000e-20,3980.241,9.073,7940.48291,0.0,0.0,1.0,UR5QrA8PQs,L1,Extremely_Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
4,1.240748e+09,39.789,10457.896,1.030000e-19,3980.241,8.500,7940.48291,0.0,0.0,1.0,nKTwtpEv3b,L1,Extremely_Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314

In [5]:
df_movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

### String manipulation

In [14]:
df_noise['label'].unique()

array(['Extremely_Loud', 'Scratchy', 'Whistle', 'Tomte',
       'Fast_Scattering', 'Power_Line', 'Blip_Low_Frequency',
       'Low_Frequency_Burst', 'Blip', 'Scattered_Light', 'Koi_Fish',
       'Repeating_Blips'], dtype=object)

### replace _ with space

In [18]:
df_noise['label'] = df_noise['label'].str.replace('_',' ')

In [20]:
df_noise['label'].unique()

array(['Extremely Loud', 'Scratchy', 'Whistle', 'Tomte',
       'Fast Scattering', 'Power Line', 'Blip Low Frequency',
       'Low Frequency Burst', 'Blip', 'Scattered Light', 'Koi Fish',
       'Repeating Blips'], dtype=object)

***
***

In [24]:
df_noise['id']

0       xg6I5indL7
1       puprGzhePt
2       wVuUvshkGV
3       UR5QrA8PQs
4       nKTwtpEv3b
           ...
9994    ySvGzfZovB
9995    aRa37WWwqg
9996    4VgGM4NtCF
9997    Jix18Y1VTL
9998    JQKGOLkaoA
Name: id, Length: 9999, dtype: object

### replace any number witht empty string

In [25]:
df_noise['id'] = df_noise['id'].replace(to_replace='\d',value='',regex=True)

In [26]:
df_noise['id']

0          xgIindL
1       puprGzhePt
2       wVuUvshkGV
3         URQrAPQs
4        nKTwtpEvb
           ...
9994    ySvGzfZovB
9995      aRaWWwqg
9996      VgGMNtCF
9997       JixYVTL
9998    JQKGOLkaoA
Name: id, Length: 9999, dtype: object

#### Numbers are gone. \d stands for any digit

***
***

In [43]:
df_movies['genres']

0       Action|Adventure|Fantasy|Sci-Fi
1              Action|Adventure|Fantasy
2             Action|Adventure|Thriller
3                       Action|Thriller
4                           Documentary
                     ...
5038                       Comedy|Drama
5039       Crime|Drama|Mystery|Thriller
5040              Drama|Horror|Thriller
5041               Comedy|Drama|Romance
5042                        Documentary
Name: genres, Length: 5043, dtype: object

#### Only use the first genre and define it as a new column with name primary_genre

In [44]:
df_movies['genres'].str.split('|')

0       [Action, Adventure, Fantasy, Sci-Fi]
1               [Action, Adventure, Fantasy]
2              [Action, Adventure, Thriller]
3                         [Action, Thriller]
4                              [Documentary]
                        ...
5038                         [Comedy, Drama]
5039       [Crime, Drama, Mystery, Thriller]
5040               [Drama, Horror, Thriller]
5041                [Comedy, Drama, Romance]
5042                           [Documentary]
Name: genres, Length: 5043, dtype: object

#### Now for each row, we can selec the first element and make a new column with that.

In [45]:
df_movies['primary_genre'] = [i[0] for i in df_movies['genres'].str.split('|').tolist()]

In [46]:
df_movies['primary_genre'].head()

0         Action
1         Action
2         Action
3         Action
4    Documentary
Name: primary_genre, dtype: object

### Tada üòÅ

***
***

In [47]:
df_movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,primary_genre
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,Action
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,Action
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,Action
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,Action
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,Documentary

### Add a new column that shows language and country separated by a comma

In [52]:
df_movies['language'] + ', ' + df_movies['country']

0          English, USA
1          English, USA
2           English, UK
3          English, USA
4                   NaN
             ...
5038    English, Canada
5039       English, USA
5040       English, USA
5041       English, USA
5042       English, USA
Length: 5043, dtype: object

In [53]:
df_movies['lang_country'] = df_movies['language'] + ', ' + df_movies['country']

In [54]:
df_movies['lang_country']

0          English, USA
1          English, USA
2           English, UK
3          English, USA
4                   NaN
             ...
5038    English, Canada
5039       English, USA
5040       English, USA
5041       English, USA
5042       English, USA
Name: lang_country, Length: 5043, dtype: object

***
***

### Changing dtypes, rounding

In [57]:
df_noise.head()

,GPStime,peakFreq,snr,amplitude,centralFreq,duration,bandwidth,chisq,chisqDof,confidence,id,ifo,label,imgUrl,Q-value
0,1.252630e+09,30.734,14050.200,1.730000e-19,3980.241,8.250,7940.48291,0.0,0.0,1.0,xgIindL,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
1,1.242889e+09,39.789,12802.310,1.020000e-19,3980.241,10.669,7940.48291,0.0,0.0,1.0,puprGzhePt,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
2,1.243172e+09,39.789,12470.565,1.030000e-19,3980.241,7.875,7940.48291,0.0,0.0,1.0,wVuUvshkGV,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
3,1.241942e+09,39.789,10580.012,8.610000e-20,3980.241,9.073,7940.48291,0.0,0.0,1.0,URQrAPQs,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
4,1.240748e+09,39.789,10457.896,1.030000e-19,3980.241,8.500,7940.48291,0.0,0.0,1.0,nKTwtpEvb,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314

### Round peakFreq, snr, centralFreq and duration and bandwidth to 1 decimal place

In [62]:
df_noise['peakFreq'].round(1)

0       30.7
1       39.8
2       39.8
3       39.8
4       39.8
        ...
9994    39.0
9995    36.6
9996    27.3
9997    27.3
9998    30.3
Name: peakFreq, Length: 9999, dtype: float64

In [69]:
df_noise[['peakFreq','snr','centralFreq','duration','bandwidth']].round(1)

      peakFreq      snr  centralFreq  duration  bandwidth
0         30.7  14050.2       3980.2       8.2     7940.5
1         39.8  12802.3       3980.2      10.7     7940.5
2         39.8  12470.6       3980.2       7.9     7940.5
3         39.8  10580.0       3980.2       9.1     7940.5
4         39.8  10457.9       3980.2       8.5     7940.5
...        ...      ...          ...       ...        ...
9994      39.0     10.6       3803.3       1.4     7560.8
9995      36.6     10.5       3986.9       3.6     7927.1
9996      27.3     10.5       3300.4       1.5     6562.9
9997      27.3     10.4       3588.9       2.0     7153.9
9998      30.3     10.3       2761.7       1.1     5477.6

[9999 rows x 5 columns]

In [71]:
cols_round = ['peakFreq','snr','centralFreq','duration','bandwidth']
df_noise[cols_round] = df_noise[cols_round].round(1)

In [72]:
df_noise.head()

,GPStime,peakFreq,snr,amplitude,centralFreq,duration,bandwidth,chisq,chisqDof,confidence,id,ifo,label,imgUrl,Q-value
0,1.252630e+09,30.7,14050.2,1.730000e-19,3980.2,8.2,7940.5,0.0,0.0,1.0,xgIindL,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
1,1.242889e+09,39.8,12802.3,1.020000e-19,3980.2,10.7,7940.5,0.0,0.0,1.0,puprGzhePt,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
2,1.243172e+09,39.8,12470.6,1.030000e-19,3980.2,7.9,7940.5,0.0,0.0,1.0,wVuUvshkGV,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
3,1.241942e+09,39.8,10580.0,8.610000e-20,3980.2,9.1,7940.5,0.0,0.0,1.0,URQrAPQs,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
4,1.240748e+09,39.8,10457.9,1.030000e-19,3980.2,8.5,7940.5,0.0,0.0,1.0,nKTwtpEvb,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314

***
***

In [83]:
df_noise['GPStime'].iloc[0]

1252629739.398

### Change the dtype of GPStime from float to int

In [85]:
df_noise['GPStime'].astype(int)

0       1252629739
1       1242889305
2       1243171636
3       1241942320
4       1240748213
           ...
9994    1243630319
9995    1249220142
9996    1243351241
9997    1253363214
9998    1244822377
Name: GPStime, Length: 9999, dtype: int64

In [86]:
df_noise['GPStime'] = df_noise['GPStime'].astype(int)

In [87]:
df_noise['GPStime'].iloc[0]

1252629739

In [88]:
df_noise.head()

,GPStime,peakFreq,snr,amplitude,centralFreq,duration,bandwidth,chisq,chisqDof,confidence,id,ifo,label,imgUrl,Q-value
0,1252629739,30.7,14050.2,1.730000e-19,3980.2,8.2,7940.5,0.0,0.0,1.0,xgIindL,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
1,1242889305,39.8,12802.3,1.020000e-19,3980.2,10.7,7940.5,0.0,0.0,1.0,puprGzhePt,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
2,1243171636,39.8,12470.6,1.030000e-19,3980.2,7.9,7940.5,0.0,0.0,1.0,wVuUvshkGV,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
3,1241942320,39.8,10580.0,8.610000e-20,3980.2,9.1,7940.5,0.0,0.0,1.0,URQrAPQs,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
4,1240748213,39.8,10457.9,1.030000e-19,3980.2,8.5,7940.5,0.0,0.0,1.0,nKTwtpEvb,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314

***
***

### In thea above dataframe, we an see it is not sorted by the GPStime, so next we will sort it with GPStime

In [91]:
df_noise.sort_values(by='GPStime',inplace=True)

In [92]:
df_noise

,GPStime,peakFreq,snr,amplitude,centralFreq,duration,bandwidth,chisq,chisqDof,confidence,id,ifo,label,imgUrl,Q-value
5940,1238166110,27.9,8.9,2.190000e-22,463.5,1.2,882.6,0.0,0.0,1.0,nfxymohGTq,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
3453,1238166250,39.9,10.4,1.170000e-22,43.6,1.5,42.8,0.0,0.0,1.0,fCQeiruz,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
3846,1238166252,42.5,13.9,1.380000e-22,51.4,1.4,58.3,0.0,0.0,1.0,tQizpTltV,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
3371,1238166255,48.2,14.9,1.150000e-22,3951.0,1.4,7849.3,0.0,0.0,1.0,xYOfmsec,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
4957,1238166257,45.3,15.4,1.360000e-22,3617.9,2.2,7194.2,0.0,0.0,1.0,iJkqGSYsjg,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7196,1253964576,30.7,8.1,1.390000e-22,1031.9,0.8,2017.6,0.0,0.0,1.0,dzkkqMNMpd,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
2688,1253965990,39.8,17.7,1.780000e-22,1462.3,0.7,2893.9,0.0,0.0,1.0,yNIWIjTNy,L1,Tomte,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,5.657
2411,1253967726,39.8,30.4,2.810000e-22,1021.0,1.2,2011.4,0.0,0.0,1.0,yPJvnICV,L1,Tomte,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,5.657
7030,1253968450,217.7,2356.1,7.880000e-21,3981.4,4.3,7938.1,0.0,0.0,1.0,zKgtWgtcGR,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,5.657
1911,1253970922,39.8,19.0,1.770000e-22,3368.2,0.8,6698.6,0.0,0.0,1.0,nvDZBhXM,L1,Tomte,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,5.657

### Now the index is messed up, we need to reset the index

In [95]:
df_noise = df_noise.reset_index(drop=True)

In [96]:
df_noise

,GPStime,peakFreq,snr,amplitude,centralFreq,duration,bandwidth,chisq,chisqDof,confidence,id,ifo,label,imgUrl,Q-value
0,1238166110,27.9,8.9,2.190000e-22,463.5,1.2,882.6,0.0,0.0,1.0,nfxymohGTq,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
1,1238166250,39.9,10.4,1.170000e-22,43.6,1.5,42.8,0.0,0.0,1.0,fCQeiruz,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
2,1238166252,42.5,13.9,1.380000e-22,51.4,1.4,58.3,0.0,0.0,1.0,tQizpTltV,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
3,1238166255,48.2,14.9,1.150000e-22,3951.0,1.4,7849.3,0.0,0.0,1.0,xYOfmsec,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
4,1238166257,45.3,15.4,1.360000e-22,3617.9,2.2,7194.2,0.0,0.0,1.0,iJkqGSYsjg,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1253964576,30.7,8.1,1.390000e-22,1031.9,0.8,2017.6,0.0,0.0,1.0,dzkkqMNMpd,L1,Fast Scattering,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,11.314
9995,1253965990,39.8,17.7,1.780000e-22,1462.3,0.7,2893.9,0.0,0.0,1.0,yNIWIjTNy,L1,Tomte,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,5.657
9996,1253967726,39.8,30.4,2.810000e-22,1021.0,1.2,2011.4,0.0,0.0,1.0,yPJvnICV,L1,Tomte,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,5.657
9997,1253968450,217.7,2356.1,7.880000e-21,3981.4,4.3,7938.1,0.0,0.0,1.0,zKgtWgtcGR,L1,Extremely Loud,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,5.657
9998,1253970922,39.8,19.0,1.770000e-22,3368.2,0.8,6698.6,0.0,0.0,1.0,nvDZBhXM,L1,Tomte,https://ldas-jobs.ligo-la.caltech.edu/~gravity...,5.657

### Looks good now.